alembic==1.6.5
beautifulsoup4==4.9.3
blis==0.7.4
bs4==0.0.1
catalogue==2.0.6
certifi>=2024.7.4
charset-normalizer==2.0.4
click==8.0.1
colorama==0.4.4
cycler==0.10.0
cymem==2.0.5
flask>=2.2.5
Flask-Migrate==3.0.1
Flask-SQLAlchemy==2.5.1
greenlet==1.1.0
gunicorn==23.0.0
idna==3.2
itsdangerous==2.0.1
Jinja2==3.0.1
joblib>=1.2.0
kiwisolver==1.3.1
mako>=1.2.2
MarkupSafe==2.0.1
matplotlib==3.4.2
murmurhash==1.0.5
nltk>=3.9
numpy==1.21.1
packaging==21.0
pandas==1.3.1
pathy==0.6.0
Pillow==10.3.0
preshed==3.0.5
psycopg2-binary==2.9.1
pydantic==1.8.2
pyparsing==2.4.7
python-dateutil==2.8.2
python-editor==1.0.4
pytz==2021.1
regex==2021.10.8
requests==2.26.0
scikit-learn>=1.5.0
scipy==1.7.1
selenium==3.141.0
six==1.16.0
smart-open==5.2.1
soupsieve==2.2.1
spacy==3.1.3
spacy-legacy==3.0.8
SQLAlchemy==1.4.22
srsly==2.4.1
tenacity==8.0.1
thinc==8.0.10
threadpoolctl==3.0.0
tqdm==4.62.3
typer==0.4.0
typing-extensions==3.10.0.2
urllib3>=1.26.19
wasabi==0.8.2
Werkzeug>=3.0.6
wincertstore==0.2
