{% extends 'layout.html' %}
    {% block content %}
        <!-- Main Content-->
        <form method="post" action="/beers">
          <center>
          <h2>찾고 싶은 맥주를 검색해보세요!</h2>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="check_query" id="inlineRadio1" value="1" checked>
            <label class="form-check-label" for="inlineRadio1">이름</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="check_query" id="inlineRadio2" value="2">
          <label class="form-check-label" for="inlineRadio2">종류</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="check_query" id="inlineRadio3" value="3">
        <label class="form-check-label" for="inlineRadio3">나라</label>
    </div>
          <input name="search" style="margin-bottom:10px" class="form-control" type="text" placeholder="검색">
          <input type="submit" class="btn btn-primary" value="찾기"/>
          </center>
        </form>
        <main class="mb-4">
          {% if beer_list %}
          <table class="table">
            <thead>
              <tr>
                <th scope="col">이미지</th>
                <th scope="col">맥주이름</th>
                <th scope="col">맥주종류</th>
                <th scope="col">제조국</th>
                <th scope="col">도수</th>
                <th scope="col">맛</th>
                <th scope="col">특징</th>
              </tr>
            </thead>
            <tbody>
              {% for beer in beer_list %}
              <tr>
                  <th scope="row"><img src={{ beer.image_url }} width="150" height="150"></th>
                  <td>{{ beer.name }}</td>
                  <td>{{ beer.types }}</td>
                  <td>{{ beer.country.name }}</td>
                  <td>{{ beer.alcohol }}</td>
                  <td>{{ beer.taste }}</td>
                  <td>{{ beer.comment }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% endif %}   
        </main>
    {% endblock content %}