{% extends 'layout.html' %}
    <!-- Main Content-->
    {% block content %}
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    <div class="post-preview" align="center">
                        <a href="/beers">
                            <h2 class="post-title">맥주들을 알아보아요!</h2>
                            <img src="../static/img/beers_list.jpg", height="300", width="500">
                            <h3 class="post-subtitle">어떤 맥주들이 있는지 목록을 확인해보세요.</h3>
                        </a>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <div class="post-preview" align="center">
                        <a href="/recommend">
                            <h2 class="post-title">맥주를 추천해드립니다!</h2>
                            <img src="../static/img/recommend.jpg", height="300", width="500">
                            <h3 class="post-subtitle">원하는 취향을 선택하여 맥주를 추천받아보세요.</h3>
                        </a>
                    </div>
                    <!-- Post preview-->
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Post preview-->
                    <div class="post-preview" align="center">
                        <a href="/warehouse"><h2 class="post-title">나의 최애맥주를 추가해보세요!</h2>
                            <img src="../static/img/add_beer.jpg", height="300", width="500">
                            <h3 class="post-subtitle">맥주 리스트 이외에 자신이 알고 있는 맥주가 있다면 추가해주세요.</h3>
                        </a>
                    </div>  
                </div>
            </div>
        </div>
    {% endblock content %}